body {
    background-color: #FF6FB5;

    /* background: rgb(255,111,181);
background: linear-gradient(68deg, rgba(255,111,181,1) 7%, rgba(255,185,219,1) 100%); */

}


nav {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #AB46D2;

    padding: 20px 0px 20px 0px;
}

.rightNavBar {}

nav a {
    border: solid 1 px black;
    font-size: 1.5rem;
    color: #55D8C1;
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline;
}

/* nav a:active {

} */

/* entire page will be a grid

display: flex;
height: 100vh;
width: 100vw;
 center everthing - align and justify

*/

/* .image {
    border: solid;
    background-color: #AB46D2;
   
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0; 
    right: 0;
    /* background-image: url('path-to-your-image.jpg'); */
   
    /* background-position: center;
    
    /* Adjust the height as needed */
    /* text-align: center;
    color: #fff;
    padding: 50px;
/* } */ 


.hpImage1{
    width: 1342px;
    height: 400px;
    border: solid;
    background-color: #AB46D2;
    margin: 20px
}

.hpImage2{
    width: 1342px;
    height: 400px;
    border: solid;
    background-color: #AB46D2;
    margin: 20px
}

.icons {
    border: solid;
    margin: 20px
}

main{
    height: 150vh;
  
  overflow-x: hidden;
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;
  padding: 0 40px;
}

h1 {
    border: solid;
    background-color: #AB46D2;
    margin: 20px;
}

p {
    border: solid;
    background-color: #AB46D2;
    margin: 20px
}

form {
    border: solid;
    margin: 20px;
    background-color: #AB46D2;
    
}