* {
  font-family: "Montserrat", sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #ecee81; */

  /* background: rgb(255,111,181);
background: linear-gradient(68deg, rgba(255,111,181,1) 7%, rgba(255,185,219,1) 100%); */
}

nav {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(142, 223, 203);
  background: linear-gradient(
      279deg,
      rgba(142, 223, 203, 0.8) 0%,
      rgba(201, 237, 228, 0.9) 99%
    ),
    url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
  font-weight: 700;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: #82a0d8;

  transition: color 0.3s;
}

.leftNavBar {
  display: flex;
  align-items: center;

  width: 100vw;
}

.myName {
  margin-left: 10px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.rightNavBar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  font-size: 1.6rem;
  text-shadow: 1px 1px black;
}

nav a {
  border: solid 1 px black;
  font-size: 1.5rem;

  text-decoration: none;
}

nav a:link {
  color: #82add8;
}

nav a:visited {
  color: #82add8;
}

nav a:hover {
  text-decoration: underline;
}

nav a:active {
  color: #edb7ed;
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  cursor: pointer;
}

.myName {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.welcomeContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("https://images.pexels.com/photos/1037998/pexels-photo-1037998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
}

.effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: example 3s linear 2s;
}

@keyframes example {
  from {
    width: 0;
  }
  to {
    width: 1300px;
  }
}

.homeh1 {
  font-size: 10rem;
  letter-spacing: 0.1em;
  color: #edb7ed;
  font-weight: 800;
  border: none;
  text-shadow: 2px 2px 4px #000000;
}
.homeh2 {
  font-size: 3rem;
  letter-spacing: 0.1em;
  margin-top: 20px;
  color: #edb7ed;
  text-decoration: wavy;
  border: none;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 2px 2px 2px 2px #82add8;
}

.projectLink {
  border: solid;
  color: #82add8;
  font-weight: 700;
  background-color: #edb7ed;
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  text-transform: uppercase;
  margin-top: 20px;
  width: 179px;
  text-decoration: none;
  margin-left: 5rem;
}

.parallax {
  position: relative;
  height: 500px;
  background-image: url("https://images.pexels.com/photos/8092507/pexels-photo-8092507.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.aboutMe {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(142, 223, 203);
  background: linear-gradient(
      279deg,
      rgba(142, 223, 203, 0.8) 0%,
      rgba(201, 237, 228, 0.8) 99%
    ),
    url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
}
.aboutMeContainer {
  max-width: 100%;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
}

.aboutMeText {
  /* Border style */
  border-radius: 10px;
  padding: 10px;
  color: #82add8;
  font-size: 2em;
  margin-left: 5rem;
  line-height: 1.2;
  letter-spacing: 1.2px;
  margin-bottom: -75px;
}

.mySkills {
  max-width: 100%;
  width: 400px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.mySkills div:first-child {
  color: #82add8;
  background-color: none;
  margin-bottom: 20px;
  font-size: 1.8em;
  letter-spacing: 1.2px;
  text-decoration: underline;
}

.mySkills div:not(:first-child) {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #edb7ed;
  border-radius: 5px;
  font-weight: 600;
  color: #82add8;
  box-shadow: 2px 2px #82add8;
}

.contactLink {
  border: solid;
  color: #82add8;
  font-weight: 700;
  background-color: #edb7ed;
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  text-transform: uppercase;
  margin-top: 20px;
  width: 170px;
  text-decoration: none;
  margin-left: 5rem;
}

.contactLink:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 1.5s infinite;
}

footer {
  /* Text color */
  padding: 20px; /* Add spacing around the content inside the footer */
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  background: url("https://images.pexels.com/photos/1037998/pexels-photo-1037998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
}

.footerContainer {
  padding: 0.1rem 0;
}

.footerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #edb7ed;
  text-shadow: 2px 2px black;
  transition: color 0.3s;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.footerLeft img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.iconContainer {
  margin-right: 0;
}

h1 {
  margin: 20px;
}

p {
  border: solid;
  margin: 20px;
}

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.fullProjectBackground {
  background: url("https://images.pexels.com/photos/1037998/pexels-photo-1037998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.projecth1 {
  font-size: 4rem;
  letter-spacing: 0.1em;
  color: #edb7ed;
  font-weight: 800;
  border: none;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 30px;
}
.projecth2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin-top: 20px;
  color: #edb7ed;
  text-decoration: wavy;
  border: solid;
  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.projecth3 {
  font-weight: bold;

  font-size: 2em;
  letter-spacing: 1.5px;
  line-height: 1.4;
  text-shadow: 0 0 10px #82add8; /* Adjust values as needed */
  color: #fff;

  /* background-color: #edb7ed; */
}
.projectGridContainer {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  margin-top: -20px;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .projectGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.project {
  list-style: none;
  position: relative;
}

.project:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.projectBackground {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.project:hover .projectBackground {
  transform: scale(1.05) translateZ(0);
}

.projectGrid:hover > .project:not(:hover) .projectBackground {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.projectContentContainer {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.projectName {
  color: #82add8;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.contactBackground {
  background: url("https://images.pexels.com/photos/1037998/pexels-photo-1037998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.formIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-weight: 500;
}

.contacth1 {
  font-size: 4rem;
  letter-spacing: 0.1em;
  color: #edb7ed;
  font-weight: 800;
  border: none;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 30px;
}
.contacth2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin-top: 20px;
  color: #edb7ed;
  text-decoration: wavy;
  border: solid;
  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}
.homeh1 {
  font-size: 10rem;
  letter-spacing: 0.1em;
  color: #edb7ed;
  font-weight: 800;
  border: none;
  text-shadow: 2px 2px 4px #000000;
}
.homeh2 {
  font-size: 3rem;
  letter-spacing: 0.1em;
  margin-top: 20px;
  color: #edb7ed;
  text-decoration: wavy;
  border: none;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 2px 2px 2px 2px #82add8;
}

form {
  max-width: 80rem;
  width: 50%;
  height: 50%;
  margin: 5rem auto 0 auto;
  margin-left: auto;
  margin-right: auto;
  background: url("https://images.pexels.com/photos/7130563/pexels-photo-7130563.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  text-align: left;
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 4rem;
  border-radius: 10px;
  margin-top: 20px;
}

input {
  margin-bottom: 1.5rem;
  margin-top: 10px;
  margin-left: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ebebeb;
  letter-spacing: 0;
  background: #f0f0f0;
}

label {
  font-size: 1.4rem;
  letter-spacing: 1px;
  display: block;
  text-align: left;
  font-weight: 500;
}

input:nth-child(8) {
}

button {
  border: solid;
  color: #82add8;
  font-weight: 700;
  background-color: #edb7ed;
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
