body {
  /* background-color: #ecee81; */

  /* background: rgb(255,111,181);
background: linear-gradient(68deg, rgba(255,111,181,1) 7%, rgba(255,185,219,1) 100%); */
}

nav {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8ddfcb;

  padding: 20px;
}

.leftNavBar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.myName {
  margin-left: 10px;
}

.rightNavBar {
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-size: 1.6rem;
}

nav a {
  border: solid 1 px black;
  font-size: 1.5rem;
  color: #82a0d8;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
}

.myName {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.welcomeContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(236, 238, 129, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
}

.effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: example 3s linear 2s;
}

@keyframes example {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

.homeh1 {
  font-size: 55px;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.parallax {
  position: relative;
  height: 500px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK5wwvMqzCx0_M4DbukVXN-7tDF_M3iXKblw&usqp=CAU");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.aboutMeContainer {
  position: relative;
  background-color: #8ddfcb;
  border: solid;
  width: 1800px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  margin: 0 auto;
  margin-top: 20px;
}

.aboutMeImage {
  border: solid;
  border-radius: 10px;
}

.aboutMeText {
  border: solid;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.icons {
  border: solid;
  margin: 20px;
}

main {
  height: 150vh;

  overflow-x: hidden;
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;
  padding: 0 40px;
}

h1 {
  margin: 20px;
}

p {
  border: solid;

  margin: 20px;
}

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projectGridContainer {
  align-items: flex-start;
  background-color: lightblue;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .projectGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.project {
  list-style: none;
  position: relative;
}

.project:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.projectBackground {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.project:hover .projectBackground {
  transform: scale(1.05) translateZ(0);
}

.projectGrid:hover > .project:not(:hover) .projectBackground {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.projectContentContainer {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.projectName {
  color: white;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.formIntro {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  border: solid;
  width: 400px;
  height: 400px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #82a0d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px;
  border-radius: 5px;
  display: block;
}
button {
  border: none;
  color: #fff;
  background-color: #edb7ed;
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
